<!DOCTYPE html>
<html lang="en">
    {% include "./src/layouts/partials/head.njk" %}
    <body>
        <main class="container">
            <header>
                {% for link in global.site.links %}
                    [ <a href="{{ link.href }}">{{ link.title }}</a> ]
                {% endfor %}
            </header>
            <div>
                {{ contents | safe }}

                <ul class="articles">
                {% for article in global.site.articles %}
                    <li>[ {{ article.date }} ] <a href="{{article.link}}">{{ article.title }}</a></li>
                {% endfor %}
                </div>
            </div>
        </main>
    </body>
</html>
